<style>
  .margin-negative{
    margin-top: -40px !Important;
     margin-bottom: -40px !Important;
  }

  @media only screen and (max-width: 480px){
   .margin-negative{
        margin-top: -83px !Important;
    }
  }
</style>

<script src="https://cdn.tailwindcss.com"></script>
<div class="margin-negative flex justify-start mb-[2vh] md:mb-0 md:pl-10 h-[80vh] md:h-screen items-center bg-no-repeat md:bg-center md:bg-[url('https://cdn.shopify.com/s/files/1/0739/9215/files/monthly_shirt_club_hero.png?v=1690804569')]  bg-[url('')]">
    <div class="w-full md:w-[33%] relative flex-col h-screen flex justify-center items-center md:items-start gap-7">
        <img
            class="md:hidden w-full"
            src="https://cdn.shopify.com/s/files/1/0739/9215/files/New_Project.png?v=1690810987"
            alt="">
        <h2 class="text-black text-center md:text-start font-bold text-5xl mt-[1vh] md:mt-0 z-99">
            The #1 Shirt Subscription For Geeks & Pop-Culture Freak!
        </h2>
        <ul class="z-99">
            <li>&#8226; Monthly Shirs Delivered To Your Door.</li>
            <li>&#8226; Receive Free Gifts & Exclusive Discounts.</li>
            <li>&#8226; Support Independent Artists With Each Shirt.</li>
        </ul>

        <div class="flex flex-col justify-center items-center w-full z-99">
            <a
                href=""
                href="/ "
                class="bg-[#ff8409] text-white px-20 rounded-full py-3 font-bold">GeT Started Now!</a>
            <div>
                &#9733;
                &#9733;
                				&#9733;
                				&#9733;
                				&#9733;
            </div>
            <p>4,500+ Reviews</p>
        </div>
    </div>
    {% comment %} <div class="w-[67%]  h-screen bg-[url('https://cdn.shopify.com/s/files/1/0739/9215/files/Group_33679_1.png?v=1690804232')]"></div> {% endcomment %}
    {% comment %} <div class="w-[33%]  h-screen bg-[url('https://cdn.shopify.com/s/files/1/0739/9215/files/monthly_shirt_club.png?v=1690803211')]"></div> {% endcomment %}
</div>



<script src="https://cdn.tailwindcss.com"></script>


<style>
  background: black !Important;
</style>

  <div>

    {% comment %} <div class="subscription-promo-text">
    <div class="flex bg-red-400">
    <div class="check-mark">✓</div>
    <span class="font-bold">Support Indie Designers</span>
    </div>
    <span>All of our designs at RIPT are submitted by independent, indie designers, and for each sale made, designers are paid royalties.</span>
    </div>

    <div class="subscription-promo-text">
    <div>
    <div class="check-mark">✓</div>
    <span class="font-bold">Support Indie Designers</span>
    </div>

    <span>If you no longer wish to receive random tee’s, cancel your subscription at any time. No contracts, no funny business.</span>
    </div>
    <div class="subscription-promo-text">
    <div>
    <div class="check-mark">✓</div>
    <span class="font-bold">More Tee's, Cheaper Prices</span>
    </div>
    <span>If you no longer wish to receive random tee’s, cancel your subscription at any time. No contracts, no funny business.</span>
    </div>

    </div>
    </div> {% endcomment %}</div>